html {
  height: 100%; 
}
body {
  margin:0; 
  background-color: rgb(114, 118, 179);
  height: 100%;
}
.dashboard{
  text-align: center;
  background-color: rgb(18, 30, 197);
  color:white;
  padding:50px;
  font-size: 25px;
}
.hide {
  display: none;
}
.inputContainter{
  display:flex;
}

.cityInfo {
  background-color: rgba(144, 163, 144, 0.185);
}
.row #forecast {
padding-left: 25px;

justify-content: space-between;
}

.card {
  background-color:rgb(129, 150, 170)
}

.savedCityBtn {
  color:rgb(197, 5, 5);
  background-color:rgba(240, 255, 240, 0.185);
  font-weight: bold;
